{% extends 'base.html' %}
{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="search">
        <input class="form-control mr-sm-2" name="q" placeholder="Search" hx-get="{% url 'partial_search' %}" hx-target="#results" hx-trigger="input delay:0.2s">
    </div>
    <a href="/bookmark_manager/create" class="btn btn-primary">Add Bookmark</a>
  </div>
  <ul class="list-group" id="results">
    {% for bookmark in bookmarks %}
      <li class="list-group-item mb-3 d-flex justify-content-between align-items-center">
        <div>
            <h4>{{ bookmark.title }}</h4>
            <p class="text-muted">{{ bookmark.description }}</p>
            <p><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></p>
        </div>
        <div>
          <a href="/bookmark_manager/{{ bookmark.id }}/delete" class="btn btn-danger">Delete</a>
          <a href="/bookmark_manager/{{ bookmark.id }}/update" class="btn btn-primary">Edit</a>
        </div>
      </li>
    {% empty %}
      <p class="empty-message text-center">At the moment the list is empty.</p>
    {% endfor %}
  </ul>
{% endblock %}
