{% for bookmark in bookmarks %}
  <li class="list-group-item mb-3">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h4>{{ bookmark.title }}</h4>
        <p class="text-muted">{{ bookmark.description }}</p>
        <p><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></p>
      </div>
      <div>
        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ bookmark.id }}">Delete</a>
        <a href="/manager/{{ bookmark.id }}/update" class="btn btn-primary">Edit</a>
      </div>
    </div>
    {% if bookmark.tags.all %}
      <span>Tags: </span>
      {% for tag in bookmark.tags.all %}
        <a href="{% url 'tags_detail' tag.title %}">{{ tag.title }}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
    {% endif %}
  </li>
  <div class="modal fade" id="deleteModal{{ bookmark.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ bookmark.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel{{ bookmark.id }}">Delete bookmark</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete "{{ bookmark.title }}" bookmark?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form method="post" action="{% url 'delete' bookmark.id %}">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% empty %}
  <p class="empty-message mt-3">At the moment the list is empty.</p>
{% endfor %}
{% if bookmarks.paginator.num_pages > 1 %}
  <div class="pagination mx-auto mb-3">
    <ul class="pagination">
      {% if bookmarks.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">&laquo; First</a>
        </li>
      {% endif %}
      {% for i in bookmarks.paginator.page_range %}
        <li class="page-item {% if i == bookmarks.number %}active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endfor %}
      {% if bookmarks.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ bookmarks.paginator.num_pages }}">Last &raquo;</a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}

