{% extends 'base.html' %}
{% block title %}Bookmark Manager{% endblock title %}
{% block content %}
{% include 'header.html' %}
{% include 'messages.html' %}
<form action="{% url 'filter' %}" method="get">
  <div class="tag-block mt-4">
    <h3>Tags</h3>
    <ul class="list-inline">
      <li class="list-inline-item">
        {% for tag in tags|slice:":30" %}
          {% if tag.bookmarks.exists %}
            <input type="checkbox" class="btn-check" id="btn-check-{{ tag.id }}" autocomplete="off" name="tags" value="{{ tag.title }}">
            <label class="btn btn-checkbox" for="btn-check-{{ tag.id }}">{{ tag.title }}</label>
          {% endif %}
        {% empty %}
          <p class="empty-message mt-3">At the moment, the list is empty.</p>
        {% endfor %}
      </li>
    </ul>
  </div>
  {% if tags %}
    <button class="btn btn-primary mb-3" type="submit">Filter</button>
  {% endif %}
</form>
<h3>Bookmarks</h3>
<ul class="list-group" id="results">
  {% include 'bookmark_list_item.html' %}
</ul>
{% endblock %}
