<nav class='d-flex justify-content-between align-items-center'>
  <h3>
    <a href="{% url 'bookmark_list' %}" style="text-decoration: none; color: inherit;">
      <span class="font-weight-bold">Bookmark</span>
      <span class="font-italic">Manager</span>
    </a>
  </h3>
  {% if user.is_authenticated %}
    <div class="search">
      <input class="form-control mr-sm-2" name="q" placeholder="Search bookmarks" hx-get="{% url 'partial_search' %}" hx-target="#results" hx-trigger="input delay:0.2s">
    </div>
    <div>
      <a href="/manager/create" class="btn btn-primary">Add Bookmark</a>
      <a href="/manager/profile" class="btn btn-primary">Profile</a>
      <a href="/manager/logout" class="btn btn-danger">Log out</a>
    </div>
  {% else %}
    <a href="/manager/login" class="btn btn-primary">Login</a>
  {% endif %}
</nav>
