{% extends 'base.html' %}
{% block title %}Bookmark Manager{% endblock title %}
{% block content %}
{% include 'header.html' %}
{% include 'messages.html' %}
  <main style="margin-top: 150px;">
    <h1>Welcome to our</h2>
    <h1>Bookmark manager</h1>
    <p class="text-muted mt-3">Keep your favorite pages in one place.</p>
    <p class="text-muted">Organize your bookmarks easily and conveniently.</p>
    <p class="text-muted">Forget about lost bookmarks - we're here to support you.</p>
    <a href="/manager/register"  class="btn btn-primary mt-3">Sign up</a> 
  </main>
{% endblock %}
